{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": [
      "error"
    ],
    "no-alert": "off",
    "no-console": "off",
  },
  "env": {
    "browser": true,
    "node": true
  }
}
