doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title 2NTH - WEBOS - File Explorer
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css')
  link(href='https://fonts.googleapis.com/css2?family=Lobster&family=Sansita+Swashed:wght@300&family=Srisakdi:wght@700&display=swap' rel='stylesheet')
  link(href='main.5915dd09a14ab329f86a.css' rel='stylesheet')
.row.panel
  .col-lg-3.panel--left
    #tree
  .col.panel--right
    #navigation.navigation
    #table
#detail-panel.modal.detail-panel(hidden='')
#new-folder.modal.new-folder(hidden='')
#new-file.modal.new-file(hidden='')
#rename-item.modal.rename-item(hidden='')
#delete-item.modal.delete-item(hidden='')
#edit-file.modal.edit-file(hidden='')
script(type='text/javascript' src='balelPolyfill.aa97703bc0f88e3fb67e.bundle.js')
script(type='text/javascript' src='main.5ffa39e2fa80ff6d69a0.bundle.js')
script(type='text/javascript' src='vendor.e503717d21b40a47a29b.bundle.js')
