doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title 2NTH - WEBOS - File Explorer
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css')
  link(href='main.a99a5e19e3a90213e8da.css' rel='stylesheet')
h1.text-primary.text-center WEBOS - File Explorer
hr
.row
  .col-lg-3
    #tree
  .col
    #table
#detail-panel.modal.detail-panel(hidden='')
#new-folder.modal.new-folder(hidden='')
#new-file.modal.new-file(hidden='')
#rename-item.modal.rename-item(hidden='')
#delete-item.modal.delete-item(hidden='')
#edit-file.modal.edit-file(hidden='')
script(type='text/javascript' src='balelPolyfill.43b523a73f4e88b05c0e.bundle.js')
script(type='text/javascript' src='main.8fd5414465c4567f7620.bundle.js')
script(type='text/javascript' src='vendor.e503717d21b40a47a29b.bundle.js')
