.file {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: none;
  border-radius: 10px;
  transition: all 300ms ease;
  cursor: pointer;
}

.file.click {
  color: white;
  background-color: rgba(0, 0, 0, .5) !important;
}

.file.click .file-icon {
  color: white;
}

.file-icon {
  font-size: 70px;
  height: 80px;
  color: gray;
  line-height: 0;
}

.file-name {
  font-size: 17px;
  text-align: center;
}

.file:hover {
  background-color: rgba(0, 0, 0, .1);
}
