<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
      integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="folder.css">
    <link rel="stylesheet" href="file.css">
  </head>
  <body>
    <div class="folder">
      <div class="folder-icon">
        <i class="fas fa-folder-plus"></i>
      </div>
      <div class="folder-name">Create new folder</div>
    </div>
    <hr>
    <br>

    <div style="display: flex;">
      <div class="folder">
        <div class="folder-icon">
          <i class="fas fa-folder"></i>
        </div>
        <div class="folder-name">Home</div>
      </div>
      <div class="folder click">
        <div class="folder-icon">
          <i class="fas fa-folder"></i>
        </div>
        <div class="folder-name">User</div>
      </div>
      <div class="folder">
        <div class="folder-icon">
          <i class="fas fa-folder"></i>
        </div>
        <div class="folder-name">Windows</div>
      </div>
      <div class="file">
        <div class="file-icon">
          <i class="fas fa-file-alt"></i>
        </div>
        <div class="file-name">Test.txt</div>
      </div>
      <div class="file click">
        <div class="file-icon">
          <i class="fas fa-file-alt"></i>
        </div>
        <div class="file-name">Test2.txt</div>
      </div>
    </div>

  </body>
</html>
