.fas.fa-file-word {
  color: rgb(43, 146, 194);
}
.fas.fa-file-powerpoint {
  color: orangered;
}

.fas.fa-file-excel,
.fas.fa-folder-plus {
  color: green;
}

.fas.fa-file-pdf {
  color: rgb(255, 174, 0);
}

.fas.fa-file-alt {
  color: blue;
}
.fas.fa-file {
  color: rgba(247, 0, 255, 0.616);
}

.fas.fa-file-code,
.fas.fa-edit {
  color: rgb(181, 196, 191);
}

.fas.fa-file-archive,
.fas.fa-copy {
  color: deeppink;
}

.fas.fa-file-image,
.fas.fa-cut {
  color: rgb(105, 105, 231);
}

.fas.fa-file-video,
.fas.fa-paste {
  color: rgb(117, 212, 117);
}

.fas.fa-file-audio,
.fas.fa-spell-check {
  color: rebeccapurple;
}

.fas.fa-times,
.fas.fa-trash {
  color: red;
}
