ul.fancytree-container {
  border: none !important;
  height: 87vh;
  max-height: 87vh;
  overflow: scroll;

  &:focus {
    outline: none !important;
  }

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px pink;
    -webkit-box-shadow: inset 0 0 10px pink;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 10px pink;
    -webkit-box-shadow: inset 0 0 10px pink;
  }
}
