.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);

  display: flex;
  justify-content: center;
  align-items: center;

  & > :first-child {
    box-shadow: 2px 10px 10px -5px rgba(0, 0, 0, 0.5);
  }
}
