#table {
  height: 87vh;
  max-height: 87vh;
  overflow: scroll;
  font-family: 'Playfair Display', serif;

  .fa-folder,
  [class*='file'] {
    font-size: 20px;
    color: #333;
    margin-right: 5px;
  }

  .fas.fa-folder {
    color: pink;
  }

  .thead-pink {
    background-color: pink;
    color: white;
    font-family: 'Sansita Swashed', cursive;
  }

  .fas.fa-file-word {
    color: rgb(43, 146, 194);
  }
  .fas.fa-file-powerpoint {
    color: orangered;
  }

  .fas.fa-file-excel {
    color: green;
  }

  .fas.fa-file-pdf {
    color: rgb(255, 174, 0);
  }

  .fas.fa-file-alt {
    color: blue;
  }
  .fas.fa-file {
    color: rgba(247, 0, 255, 0.616);
  }

  .fas.fa-file-code {
    color: rgb(181, 196, 191);
  }

  .fas.fa-file-archive {
    color: deeppink;
  }

  .fas.fa-file-image {
    color: rgb(105, 105, 231);
  }

  .fas.fa-file-video {
    color: rgb(117, 212, 117);
  }

  .fas.fa-file-audio {
    color: rebeccapurple;
  }

  th,
  td {
    user-select: none;
  }

  tr {
    transition: all 300ms ease;

    &.selected {
      background-color: rgb(252, 133, 152);
      color: white;
    }
  }

  &::-webkit-scrollbar {
    width: 10px;
    height: 0px;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 10px pink;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 10px rgb(248, 124, 145);
  }
}
